<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de usuarios</h1><br>
    <a href="/api/v1/user/create">Create</a><br><br>

    <% users.forEach((user)=>{ %>
        <%= user.id %>
        <%= user.name %>
        <%= user.age %>
        <a href="/api/v1/user/update/<%= user.id %>">Update</a>
        <a href="/api/v1/user/delete/<%= user.id %>">Delete</a>
        <br>
    <% }) %>

</body>
</html>